@model IEnumerable<My_Journal.Models.Total>

@{
    ViewData["Title"] = "Index";
}

<h1>Saldo Total</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTotalEgresosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTotalIngresosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTotalEgresosNavigation.IdTotalEgresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTotalIngresosNavigation.IdTotalIngresos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTotal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTotal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTotal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
