@model IEnumerable<My_Journal.Models.EgresosVario>

@{
    ViewData["Title"] = "Index";
}

<h1>Egresos Varios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="EgresosVarios" asp-action="index" method=get>  
<p>
 Buscar: <input type="text name="buscar" class="form-text/>
         <input type="submit" value="buscar">
</p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEgreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEgreso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEgresosvarios">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEgresosvarios">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEgresosvarios">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
