@model My_Journal.Models.TotalIngreso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TotalIngreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIngreso1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIngreso1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesIngresos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesIngresos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDiezmoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDiezmoNavigation.IdDiezmo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOfrendasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOfrendasNavigation.IdOfrendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVariosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVariosNavigation.IdVarios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTotalIngresos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
