@model IEnumerable<My_Journal.Models.Ofrenda>

@{
    ViewData["Title"] = "Ofrenda";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOfrenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaOfrenda)
                </td>
                <td>
                    <a asp-action="Edit" class="btn-warning" asp-route-id="@item.IdOfrendas">Edit</a> |
                    <a asp-action="Details" class="btn-primary" asp-route-id="@item.IdOfrendas">Details</a> |
                    <a asp-action="Delete" class="btn-danger" asp-route-id="@item.IdOfrendas">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>