@model IEnumerable<My_Journal.Models.TotalEgreso>

@{
    ViewData["Title"] = "Index";
}

<h1>Total Egresos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalEgreso1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesEgreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEgresosvariosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOfrendaPastoralNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPagosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEgreso1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEgresosvariosNavigation.IdEgresosvarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOfrendaPastoralNavigation.IdOfrendaPastoral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPagosNavigation.IdPagos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTotalEgresos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTotalEgresos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTotalEgresos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
