@model IEnumerable<My_Journal.Models.Diezmo>

@{
    ViewData["Title"] = "Diezmos";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonaDiezmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDiezmo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePersonaDiezmo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDiezmo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdDiezmo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdDiezmo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDiezmo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>